@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
pre code {
  background-color: inherit;
  display: block;
  padding: 10px;
}
code {
  font-family: Nunito;
  color: #09111b;
  font-size: 1.25em;
  line-height: 2;
}