#codeEditor {
  width: 360px;
  height: 360px;
  border-radius: 8px;
  background-color: #4c4b58;
  background-image: radial-gradient(circle at 13px 12px, #b2b2bf 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf 10px, transparent 10px), linear-gradient(#24252d, #24252d), linear-gradient(#31313d, #31313d), linear-gradient(to right, #ffcd2d 25%, #b7d64f 0, #b7d64f 50%, #27c1dc 0), linear-gradient(to right, #b7d64f 0, #b7d64f 25%, #27c1dc 0), linear-gradient(to right, #27c1dc, #27c1dc), linear-gradient(to right, #f45f4b 25%, #8dca5b 0, #8dca5b 70%, #4688bc 0), linear-gradient(to right, #66c065 25%, #606cb3 0);
  background-size: 23px 23px, 23px 23px, 23px 23px, 100% 65px, 38px 100%, 200px 20px, 200px 20px, 253px 20px, 200px 20px, 200px 20px;
  background-position: 13px 16px, 44px 16px, 77px 16px, top left, top left, 79px 110px, 132px 150px, 79px 190px, 79px 230px, 132px 270px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, no-repeat;
  box-shadow: 20px 20px 0 0 #9c9cad;
}

/* For centering purposes */
/*html,*/
/*body {*/
/*  height: 100%;*/
/*}*/

.codeEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b2b2bf;
}